.App {
  text-align: center;
}

.red{
  color: red;

}
.bold{
  font-weight: bold;
}
.App button{
  border: 1px solid blue;
  padding: 10px;
  background: green;
  font: inherit;
  color: white;
}
.App button:hover{
  background:lightgreen;
  color: black;
}

.App button.red{
  background: red;
}
.App button.red:hover{
  background: salmon;
  color: black;
}